* {
    padding: 0;
    margin: 0;
}

body{
    background-image: url("./textures/BG_small.png");    
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    font-family: Bebas, CenturyGothic , sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height:1.6em;
    margin:0;
    overflow-x: hidden;
    overflow-y: scroll;
}

p {
    font-family: CenturyGothic;
    font-weight: normal;    
}

a{
	text-decoration:none;
	color:#000;
}

.left-anim{
    opacity: 0;
				-webkit-transform: translateX(-40px);
					 -moz-transform: translateX(-40px);
						-ms-transform: translateX(-40px);
						 -o-transform: translateX(-40px);
								transform: translateX(-40px);
				-webkit-transition: all 0.6s ease-out;
					 -moz-transition: all 0.6s ease-out;
						-ms-transition: all 0.6s ease-out;
						 -o-transition: all 0.6s ease-out;
								transition: all 0.6s ease-out;
}

.left-anim.visible{
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

.right-anim{
    opacity: 0;
				-webkit-transform: translateX(40px);
					 -moz-transform: translateX(40px);
						-ms-transform: translateX(40px);
						 -o-transform: translateX(40px);
								transform: translateX(40px);
				-webkit-transition: all 0.6s ease-out;
					 -moz-transition: all 0.6s ease-out;
						-ms-transition: all 0.6s ease-out;
						 -o-transition: all 0.6s ease-out;
								transition: all 0.6s ease-out;
}

.right-anim.visible{
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

.down-anim{
    opacity: 0;
				-webkit-transform: translateY(-40px);
					 -moz-transform: translateY(-40px);
						-ms-transform: translateY(-40px);
						 -o-transform: translateY(-40px);
								transform: translateY(-40px);
				-webkit-transition: all 0.6s ease-out;
					 -moz-transition: all 0.6s ease-out;
						-ms-transition: all 0.6s ease-out;
						 -o-transition: all 0.6s ease-out;
								transition: all 0.6s ease-out;
}

.down-anim.visible{
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

.up-anim{
    opacity: 0;
				-webkit-transform: translateY(40px);
					 -moz-transform: translateY(40px);
						-ms-transform: translateY(40px);
						 -o-transform: translateY(40px);
								transform: translateY(40px);
				-webkit-transition: all 0.6s ease-out;
					 -moz-transition: all 0.6s ease-out;
						-ms-transition: all 0.6s ease-out;
						 -o-transition: all 0.6s ease-out;
								transition: all 0.6s ease-out;
}

.up-anim.visible{
    opacity: 1;
    -webkit-transform: none;
         -moz-transform: none;
            -ms-transform: none;
             -o-transform: none;
                    transform: none;
}

.svgwave {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    mix-blend-mode: color-burn;
    z-index: -1;
}

.svgwave.flipped{
    -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.container{
    isolation: auto;
	width:80%;
	margin:auto;
	overflow:hidden;
}

.text-shell{
    position: relative;
    border:none;
    box-sizing: border-box;
    z-index: 100;
}

.button-shell{
    position: relative;
    color:#fff;
    border:none;
    box-sizing: border-box;
    z-index: 100;
    text-align: center;
}

.tilt-container{
    display:inline-block;
    box-sizing: border-box;
    z-index: 100;
    text-align: center;
}

.button{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);    
    /*
    box-shadow: 10px 20px 27px rgba(0, 0, 0, 0.05);
    transform-style: preserve-3d;
    margin: 50px auto;
    */
}

.button:hover{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 300ms ease;
    -webkit-transition: -webkit-filter 300ms ease;
    /*
    opacity: 0.6;
    transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -webkit-transition: opacity 300ms ease;
    */
}

.footer{
    /*background-color: teal;*/
    margin-top: 30%;
    width: inherit;
    display: inline-block;
}

.footer img{
    float: left;
    height:7vw;
}

.footer aside{
    float:left;	
	/*background:#333;*/
	color:#FFF;
	padding:1vw;
	box-sizing:border-box;
}

.footer p{
    font-family: Helvetica, sans-serif;
    text-align: left;
    line-height: 110%;
    font-size: 1.5vw;
    color:white;
}

.footer div{
    /*background-color: lawngreen;*/
    float: right;
    height: inherit;
}

.footer div img{
    height:2.5vw;
    padding-left: 3vw;
    padding-top: 2.2vw;
    padding-bottom: 2.2vw;
}

#section-one{
    position: relative;
    float: right;
    color:white;
    width: 50%;
}

#section-two-a{
    position: relative;
    float: right;
    color:white;
    width: 60%;
}

#section-two-b{
    position: relative;
    float: right;
    color:white;
    width: 60%;
}

#section-three-a{
    position: relative;
    float: left;
    color:white;
    width: 60%;
    z-index: 1;
}

#section-three-b{
    position: relative;
    float: left;
    color:white;
    width: 50%;
    z-index: 1;
}

#section-one h1{
    text-align: right;
    line-height: 80%;
    font-size: calc(5.5vw);
    font-weight: bold;
    padding: 2vw;
}

#section-two-a h1{
    text-align: left;
    line-height: 80%;
    font-size: calc(4vw);
    font-weight:normal;
    color: #127D8F;
    padding-bottom: 1vw;
}

#section-two-b h1{
    text-align: right;
    line-height: 80%;
    font-size: calc(4vw);
    font-weight:normal;
    color: #127D8F;
    margin-top:9vw;
    padding-bottom: 1vw;
}

#section-three-a h1{
    text-align: left;
    line-height: 80%;
    font-size: calc(4vw);
    font-weight:normal;
    color: #ffffff;
    padding-bottom: 1vw;
}

#section-three-b h1{
    text-align: right;
    line-height: 80%;
    font-size: calc(4vw);
    font-weight:normal;
    color: #ffffff;
    margin-top:9vw;
    padding-bottom: 1vw;
}

#section-one p{
    text-align: left;
    line-height: 120%;
    font-size: calc(1.72vw);
}

#section-two-a p{
    text-align: left;
    line-height: 120%;
    font-size: calc(1.72vw);
    margin-left: 10%;
    color:#013740;
}

#section-two-b p{
    text-align: left;
    line-height: 120%;
    font-size: calc(1.72vw);
    width: 85%;
    margin-left: 10%;
    color:#013740;
}

#section-three-a p{
    text-align: left;
    line-height: 120%;
    font-size: calc(1.72vw);
    margin-left: 10%;
    color:#ffffff;
}

#section-three-b p{
    text-align: left;
    line-height: 120%;
    font-size: calc(1.72vw);
    margin-left: 10%;
    color:#ffffff;
}

#button-s1{
    position: relative;
    float: right;
    width:35%;
    height: auto;
    padding:2px;
    box-sizing:border-box;
    margin-top: 8%;
    margin-right: 8%;
}

#button-s2-a{
    position: relative;
    float: right;    
    width:30%;
    height: auto;
    padding:2px;
    box-sizing:border-box;
    margin-top: 5%;
    margin-right: 23%;
}

#button-s2-b{
    position: relative;
    float: left;
    width:30%;
    height: auto;
    padding:2px;
    box-sizing:border-box;
    margin-top: 5%;
    margin-left: 12%;
}

#button-s3-a{
    position: relative;
    float: right;    
    width:30%;
    height: auto;
    padding:2px;
    box-sizing:border-box;
    margin-top: 5%;
    margin-right: 23%;
}

#button-s3-b{
    position: relative;
    float: left;
    width:30%;
    height: auto;
    padding:2px;
    box-sizing:border-box;
    margin-top: 5%;
    margin-left: 12%;
    margin-bottom: 20%;
}

#button-main{
    position: relative;
    left:20%;
    width:20%;
    height: auto;
	padding:2px;
    box-sizing:border-box;
    margin-top: 8%;
}

#virtual-comms{
    float:left;
    width:50%;
    height: auto;
    padding-top: 5%;
    padding-right:10%;
	box-sizing:border-box;
}

#computer{
    position: absolute;
    overflow-x: hidden;
    left:35%;
    float:right;
    width:80%;
    height: auto;	
	padding:10px;
    box-sizing:border-box;
}

#logo{
    width: 4%;
    height: 100%;
    margin-left: 1%;
    margin-top: 1%;
}

#dog{
    position: absolute;
    overflow-x: hidden;
    width:70%;
    height: auto;
    margin: 0;
    right:46vw;
    bottom:-72vw;
	box-sizing:border-box;
}

#man{
    position: absolute;
    overflow-x: hidden;
    width:40%;
    height: auto;
    left:65vw;
    padding-top: 20vw;
    box-sizing:border-box;
    z-index: 20;
}

#my_canvas3{
    position: absolute;
    width: 60vw;
    height: 60vw;
    left:42vw;
    margin-top: -4vw;    
    z-index: 1;
}

#wave1{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#wave1::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #9A0100;
    mix-blend-mode: color-burn;
}

#wave2{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
}

#wave2::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #49CED3;
    mix-blend-mode: color-burn;
}

#female-photo {
    position: relative;
    margin-top: -15vw;
    min-height: 100vw;
    width: 120%;
    height: 200%;
    background-image: url('./textures/female_2_very_small.png');
    background-size: cover;
    overflow-x: hidden;
    z-index: 20;
}

#female-photo h1{
    color: white;
    margin-top: 35%;
    text-align: left;
    line-height: 80%;
    font-size: calc(9.5vw);
    font-weight: normal;
    padding: 0;
}

#contact-us{
    position: relative;
    float: left;
    width:15%;
    height: auto;
    padding:2px;
    box-sizing:border-box;
    margin-top: 2%;
    margin-left: 15%;
}

@font-face{
    font-family: Bebas;
    src:url(./fonts/BebasNeue-Bold.ttf) format('truetype');
    font-weight: bold;
}

@font-face{
    font-family: Bebas;
    src:url(./fonts/BebasNeue-Regular.ttf) format('truetype');
    font-weight:normal;
}

@font-face{
    font-family: CenturyGothic;
    src:url(./fonts/GOTHIC.TTF) format('truetype');
    font-weight:normal;
}
